.env
CONTEXT.md
.vscode
.venv
.idea/
__pycache__
chat_history.db
/assets/*
!/assets/.gitkeep
!/assets/documents/
/assets/documents/*
!/assets/documents/.gitkeep
!/assets/embeddings/
/assets/embeddings/*
!/assets/embeddings/.gitkeep
!/assets/models/
/assets/models/*
!/assets/models/.gitkeep
fr.sh
repo_structure.yaml